*{
  font-family: NanumBarunGothic;
}

.selectType {
  height: 100px;
  line-height: 100px;
  width: 100px;
  border: 1px solid gray;
  background-color: blanchedalmond;
  display: inline-block;
  margin-right: 50px;
}
a {
  text-decoration: none;
  color: darkolivegreen;
  /* font-weight: bolder; */
}
